@font-face {
    font-family:'Ural';
    src: url('../fonts/Ural/ural2-webfont.eot');

src: url('../fonts/Ural/WebFont.eot?iefix') format('eot'),

url('../fonts/Ural/ural2-webfont.woff') format('woff'),

url('../fonts/Ural/wral2-webfont.ttf') format('truetype'),

url('../fonts/Ural/ural2-webfont.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}
@font-face {
    font-family:'Ural';
    src:url('../fonts/Ural/ural_bold.eot');
    src:url('../fonts/Ural/ural_bold.eot?iefix') format('eot'),
    url('../fonts/Ural/ural_bold.woff') format('woff'), 
    url('../fonts/Ural/ural_bold.ttf') format('truetype'),
    url('../fonts/Ural/ural_bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Ural';
    src:url('../fonts/Ural/ural_regular.eot');
    src:url('../fonts/Ural/ural_regular.eot?iefix') format('eot'),
    url('../fonts/Ural/ural_regular.woff') format('woff'),
    url('../fonts/Ural/ural_regular.ttf') format('truetype'),
    url('../fonts/Ural/ural_regular.svg#webfont') format('svg'); 
    font-weight: normal;
    font-style: normal;
}